<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>

  <!--<modules>
    <module assemblyFile="ZQ.Module.Guidance.dll" moduleType="ZQ.Module.Guidance.GuidanceModule, ZQ.Module.Guidance, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="GuidanceModule" startupLoaded="true" />
    <module assemblyFile="ZQ.Module.Syutsou.dll" moduleType="ZQ.Module.Syutsou.SyutsouModule, ZQ.Module.Syutsou, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SyutsouModule" startupLoaded="true" />
    <module assemblyFile="ZQ.Module.Settings.dll" moduleType="ZQ.Module.Settings.SettingsModule, ZQ.Module.Settings, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SettingsModule" startupLoaded="true" />
    <module assemblyFile="ZQ.Module.About.dll" moduleType="ZQ.Module.About.AboutModule, ZQ.Module.About, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="AboutModule" startupLoaded="true" />
  </modules>-->
  
</configuration>
