<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <modules>
    <!--
     <module assemblyFile="ViewSwitchingNavigation.Contacts.dll" moduleType="ViewSwitchingNavigation.Contacts.ContactsModule, ViewSwitchingNavigation.Contacts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ContactsModule" startupLoaded="true" />
    -->
    <module assemblyFile="ZQ.Module.User.dll" moduleType="" moduleName="UserModule" startupLoaded="true"/>
    <module assemblyFile="ZQ.Module.About.dll" moduleType="" moduleName="AboutModule" startupLoaded="true"/>
  </modules>
</configuration>
